<div class="row">

<!-- Profile and Connections -->
<div class="col-md-2 text-center">
<%= image_tag "stuker.jpg", class: "logo" %>
<hr>
<div class="timezone">
<p class="text-center"><b><%= Time.zone.name %> Timezone</b></p>
<%= link_to "change", edit_user_registration_path %>
</div>
<hr>

<div class="social">
<% unless current_user.connections.where(provider: "twitter").any? %>
	<%= link_to "/auth/twitter",:class=>"btn btn-block btn-social btn-twitter" do %>
	  <i class="fa fa-twitter"></i> Connect with Twitter
	<% end %>
<% else %>
	<%= link_to "/auth/twitter",:class=>"btn btn-block btn-social btn-twitter",:disabled=>true do %>
	  <i class="fa fa-twitter"></i> Connect with Twitter
	<% end %>
	<%= link_to "Delete Connection", connection_path(current_user.connections.where(provider: "twitter").first), method: :delete %>
<% end %>

<% unless current_user.connections.where(provider: "facebook").any? %>
	<%= link_to "/auth/facebook",:class=>"btn btn-block btn-social btn-facebook" do %>
	  <i class="fa fa-facebook"></i> Connect with Facebook
	<% end %>
<% else %>
	<%= link_to "/auth/facebook",:class=>"btn btn-block btn-social btn-facebook",:disabled=>true do %>
	  <i class="fa fa-facebook"></i> Connect with Facebook
	<% end %>
	<%= link_to "Delete Connection", connection_path(current_user.connections.where(provider: "facebook").first), method: :delete %>
<% end %>

<% unless current_user.connections.where(provider: "google_oauth2").any? %>
	<%= link_to "/auth/google_oauth2",:class=>"btn btn-block btn-social btn-google-plus" do %>
	  <i class="fa fa-google"></i> Connect with Google
	<% end %>
<% else %>
	<%= link_to "/auth/google_oauth2",:class=>"btn btn-block btn-social btn-google-plus",:disabled=>true do %>
	  <i class="fa fa-google"></i> Connect with Google
	<% end %>
	<%= link_to "Delete Connection", connection_path(current_user.connections.where(provider: "google_oauth2").first), method: :delete %>
<% end %>

<% unless current_user.connections.where(provider: "instagram").any? %>
	<%= link_to "/auth/instagram",:class=>"btn btn-block btn-social btn-instagram" do %>
	  <i class="fa fa-instagram"></i> Connect with Instagram
	<% end %>
<% else %>
	<%= link_to "/auth/instagram",:class=>"btn btn-block btn-social btn-instagram", disabled: true do %>
	  <i class="fa fa-instagram"></i> Connect with Instagram
	<% end %>
	<%= link_to "Delete Connection", connection_path(current_user.connections.where(provider: "instagram").first), method: :delete %>
<% end %>

<% unless current_user.connections.where(provider: "pinterest").any? %>
	<%= link_to "/auth/pinterest",:class=>"btn btn-block btn-social btn-pinterest" do %>
	  <i class="fa fa-pinterest"></i> Connect with Pinterest
	<% end %>
<% else %>
	<%= link_to "/auth/pinterest",:class=>"btn btn-block btn-social btn-pinterest", disabled: true do %>
	  <i class="fa fa-pinterest"></i> Connect with Pinterest
	<% end %>
	<%= link_to "Delete Connection", connection_path(current_user.connections.where(provider: "pinterest").first), method: :delete %>
<% end %>

<% unless current_user.connections.where(provider: "tumblr").any? %>
	<%= link_to "/auth/tumblr",:class=>"btn btn-block btn-social btn-tumblr" do %>
	  <i class="fa fa-tumblr"></i> Connect with Tumblr
	<% end %>
<% else %>
	<%= link_to "/auth/tumblr",:class=>"btn btn-block btn-social btn-tumblr", disabled: true do %>
	  <i class="fa fa-tumblr"></i> Connect with Tumblr
	<% end %>
	<%= link_to "Delete Connection", connection_path(current_user.connections.where(provider: "tumblr").first), method: :delete %>
<% end %>

</div>
</div>

<!-- New Post and Scheduled -->

<div class="col-md-5">
<h3 class="text-center">Scheduled Posts</h3>
<hr>
<%= render @scheduled %>
<%= will_paginate @scheduled, :param_name => 'scheduled_page' %>
</div>

<!-- History -->

<div class="col-md-5">
<h3 class="text-center">Post History</h3>
<hr>
<%= render @history %>
<%= will_paginate @history, :param_name => 'history_page' %>
</div>
</div>