<%= simple_form_for @post, :html => {:multipart => true} do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
<%= f.input :content, required: true, maxlength: 140 %>
<span id="maxCharacters">140 characters remaining</span><br/>
<p>Photo or Video</p>
<%= f.file_field :attachment %><br/>
<p>This post will be scheduled in <b><%= Time.zone.name %></b> time</p>

<%= f.radio_button :send_now, true %> 
<%= label :post_send_now_true, 'Send Now' %>
<%= f.radio_button :send_now, false, :checked => true %>
<%= label :post_send_now_false, 'Send Later' %>

<%= f.input :scheduled_at, as: :datetime_picker %>
</div>

<div class="form-inputs">
	<% if current_user.connections.where(provider: "facebook").any? %>
	<%= f.input :facebook %>
	<% end %>
	<% if current_user.connections.where(provider: "twitter").any? %>
	<%= f.input :twitter %> <span>(Only 140 characters posted)</span>
	<% end %>
	<% if current_user.connections.where(provider: "google_oauth2").any? %>
	<%= f.input :google_oauth2 %>
	<% end %>
	<% if current_user.connections.where(provider: "instagram").any? %>
	<%= f.input :instagram %>
	<% end %>
	<% if current_user.connections.where(provider: "pinterest").any? %>
	<%= f.input :pinterest %>
	<% end %>
	<% if current_user.connections.where(provider: "tumblr").any? %>
	<%= f.input :tumblr %>
	<% end %>
</div>

<div class="form-actions">
<%= f.button :submit %>
</div>

<% end %>


<script type="text/javascript">
  $('.datetimepicker').datetimepicker({
    // put here your custom picker options, that should be applied for all pickers
    icons: {
      date: 'fa fa-calendar',
      time: 'fa fa-clock-o',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-crosshairs',
      clear: 'fa fa-trash-o',
      close: 'fa fa-times'
    }
  });

  $('.datetimerange').each(function(){
    var $this = $(this)
    var range1 = $($this.find('.input-group')[0])
    var range2 = $($this.find('.input-group')[1])

    if(range1.data("DateTimePicker").date() != null)
      range2.data("DateTimePicker").minDate(range1.data("DateTimePicker").date());

    if(range2.data("DateTimePicker").date() != null)
      range1.data("DateTimePicker").maxDate(range2.data("DateTimePicker").date());

    range1.on("dp.change",function (e) {
      if(e.date)
        range2.data("DateTimePicker").minDate(e.date);
      else
        range2.data("DateTimePicker").minDate(false);
    });

    range2.on("dp.change",function (e) {
      if(e.date)
        range1.data("DateTimePicker").maxDate(e.date);
      else
        range1.data("DateTimePicker").maxDate(false);
    });
  })
</script>

