<div class="panel panel-default">
<div class="panel-heading">
<% if post.facebook == true %><span class="label label-primary">Facebook</span><% end %>
<% if post.twitter == true %><span class="label label-info">Twitter</span><% end %>
<% if post.google_oauth2 == true %><span class="label label-danger">Google</span><% end %>
<% if post.instagram == true %><span class="label label-primary">Instagram</span><% end %>
<% if post.pinterest == true %><span class="label label-danger">Pinterest</span><% end %>
<% if post.tumblr == true %><span class="label label-success">Tumblr</span><% end %>
Scheduled on <%= post.scheduled_at %>
</div>
<div class="panel-body">
<%= post.content %><br/>
<% if post.photo.exists? %><%= image_tag post.photo.url, :size => "300x300" %><% end %>
</div>
<div class="panel-footer">
<p><%= post.state.capitalize %></p>
<%= link_to "Cancel", cancel_post_path(post), method: :put if post.state == "scheduled" %>
</div>
</div>